WATSONX_PROJECT_ID="63c3f093-842e-4454-8274-141486deb70f"
IBM_CLOUD_APIKEY="zVCeXLpEuVrg5qQS4qowbBf43X-99I-jh6L2CSd8eQao"
WATSONX_URL="https://us-south.ml.cloud.ibm.com"

# Maximo Credentials
MAXIMO_APIKEY=
MAXIMO_GET_URL=
MAXIMO_POST_URL=