langchain 
langchain_ibm 
langchain_core
langchain_community
langchain_experimental
langchain-huggingface
langchain-chroma
sentence-transformers
langchain_milvus
tiktoken
pdfminer.six
IPython 
nasapy
langgraph
langgraph-supervisor
streamlit
pymilvus
chromadb
pypdf
psycopg[binary]
psycopg2
pygraphviz
matplotlib
seaborn
pglast
nltk